<center>
    <font color="3293F3">Список сервисов</font>
    <br>
    <table width=200>
        <tr><td><button value="Купить премиум-аккаунт" action="bypass _bbsscripts:services.RateBonus:list;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Привязка по железу!" action="bypass _bbsscripts:services.HWID:Menu;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Сменить имя персонажа" action="bypass _bbsscripts:services.Rename:rename_page;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Сменить цвет имени" action="bypass _bbs_changecolor1;0" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Сменить цвет титула" action="bypass _bbs_changecolortitle1;0" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Сменить название клана" action="bypass _bbsscripts:services.Rename:rename_clan_page;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Сменить имя питомца" action="bypass _bbsscripts:services.petevolve.exchange:showErasePetName;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Сменить пол" action="bypass _bbsscripts:services.Rename:changesex_page;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Расширение инвентаря" action="bypass _bbsscripts:services.ExpandInventory:show;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Расширение личного склада" action="bypass _bbsscripts:services.ExpandWarehouse:show;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Расширение кланового склада" action="bypass _bbsscripts:services.ExpandCWH:show;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Покупка Славы" action="bypass _bbs_1buyfame;" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Покупка Клан Очков" action="bypass _bbs_1buycrp;" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Покупка рекомендаций" action="bypass _bbs_1buyrec;" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Покупка Клан Умений" action="bypass _bbs_skillSeller;" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Покупка Дворянства" action="bypass _bbsscripts:services.NoblessSell:list;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
        <tr><td><button value="Покупка Геройства" action="bypass _bbsscripts:services.HeroSell:list;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
        <td><button value="Сервис чистки Кармы и Пк" action="bypass _bbsscripts:services.KarmaAndPkSell:list;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
		<tr><td><button value="Покупка Уровня Клана" action="bypass _bbsscripts:services.ClanLevelSell:list;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
		<td><button value="Сервис Уровней Персонажа" action="bypass _bbsscripts:services.LevelSell:list;_bbsservice" width=200 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td></tr>
    </table>
</center>