<html noscrollbar>
    <head>
        <title>{title}</title>
    </head>
<body>
<center>
    <table width=751><tr>
        <td fixwidth=100 valign=top>
            <table width=100>
                {menu}
            </table>
        </td>
        <td fixwidth=1 valign=top>
            <img src="L2UI.SquareWhite" width="1" height="495">
        </td>
        <td fixwidth=650 valign=top><br>
            {content}
            <center><font color=LEVEL>THE-ARGOS.ru - Игровой проект Lineage II Gracia Epilogue</font></center>
            <center><img src="L2UI.SquareWhite" width=650 height=1></center><br>
        </td>
    </tr></table>
</center>
</body>
</html>