<tr>
    <td><button value="Новости" action="bypass _bbs_news" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Магазин" action="bypass _bbsshop:index" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Крафт" action="bypass _bbspage:craft" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Баффер" action="bypass BBSB.SetMode:0" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Телепорт" action="bypass _bbsteleport" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Карьера" action="bypass _bbscareer" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Сервисы" action="bypass _bbsservice" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Заточка" action="bypass _bbsechant;" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Аттрибуты" action="bypass _bbsls" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Заказы" action="bypass _bbsMercenaries" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Очки Олимпа" action="bypass _bbsOlyPoint;" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Статистика" action="bypass _bbsstatistic" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Полезное" action="bypass _bbspage:commands" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Баш Орг" action="bypass _bbsscripts:services.Bash:showQuote 1;_bbshome" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
<tr>
    <td><button value="Настройки" action="bypass -h user_cfg" width=90 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"/></td>
</tr>
